@model IEnumerable<ConferenceRoomBooking.DataLayer.Entities.ReservationHolder>

<h2>Reservation Holder </h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th> Id card number </th>
            <th> Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Notes</th>
            <th>Booking Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdCardNumber</td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Notes</td>
                <td>@item.BookingId</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
